---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Hack", monospace;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FFD7AF;
$background-color: #303030; //#fdfdfd;
$brand-color:      darken($text-color, 15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.flex-center {
      display: flex;
        justify-content: center;
          align-items: center;
      }

.logo {
    display: inline-block;
    position: relative;
    width: 32%;
    padding-bottom: 50%; 
    vertical-align: middle; 
    overflow: hidden; 
}

.heartofthematter {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.poem {
   white-space: pre-line; 
      display: flex;
        justify-content: center;
          align-items: center;
}

.post-tags {
    color: $grey-color;
    padding-left: 2%;
}

.archive .post-link {
    font-size: 75%;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@include media-query($on-palm) {
    .MathJax_Display {
        overflow-x: scroll;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
