---
layout: default
---

<div class="home">
  <h1 class="page-heading">Archive</h1>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <ul class="post-list archive">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.tags.size > 0 %}
        <p class="post-tags">
          {% for tag in post.tags %}
              {{ tag }}
          {% endfor %}
        </p>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
      </li>
    {% endfor %}
  </ul>


</div>
