<footer class="site-footer">

  <div class="wrapper">


    <div class="flex-center">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.mastodon_username %}
          <li>
            {% include icon-mastodon.html username=site.mastodon_username %}
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</footer>
