<a href="https://gitlab.com/{{ site.gitlab_username }}/{{ site.gitlab_repo }}/-/commit/{{ site.data['hash'] }}"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span>{{ site.data['hash'] | slice: 0,8 }}</a>
