/**
 * Syntax highlighting styles
 */
.highlight {
    color: #ebdbb2;
    .hll { background-color: #ffffcc }
    .c { color: #928374; font-style: italic; } /* Comment */
    .err { color: #ebdbb2; } /* Error */
    .esc { color: #ebdbb2; } /* Escape */
    .g { color: #ebdbb2; } /* Generic */
    .k { color: #fe8019; } /* Keyword */
    .l { color: #ebdbb2; } /* Literal */
    .n { color: #ebdbb2; } /* Name */
    .o { color: #fe8019; } /* Operator */
    .x { color: #ebdbb2; } /* Other */
    .p { color: #ebdbb2; } /* Punctuation */
    .ch { color: #928374; font-style: italic; } /* Comment.Hashbang */
    .cm { color: #928374; font-style: italic; } /* Comment.Multiline */
    .cp { color: #8ec07c; } /* Comment.Preproc */
    .c1 { color: #928374; font-style: italic; } /* Comment.Single */
    .cs { color: #928374; font-style: italic; } /* Comment.Special */
    .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
    .ge { color: #83a598; text-decoration: underline; } /* Generic.Emph */
    .gr { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Error */
    .gh { color: #b8bb26; font-weight: bold; } /* Generic.Heading */
    .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
    .go { color: #504945; } /* Generic.Output */
    .gp { color: #ebdbb2; } /* Generic.Prompt */
    .gs { color: #ebdbb2; } /* Generic.Strong */
    .gu { color: #b8bb26; font-weight: bold; } /* Generic.Subheading */
    .gt { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Traceback */
    .kc { color: #fe8019; } /* Keyword.Constant */
    .kd { color: #fe8019; } /* Keyword.Declaration */
    .kn { color: #fe8019; } /* Keyword.Namespace */
    .kp { color: #fe8019; } /* Keyword.Pseudo */
    .kr { color: #fe8019; } /* Keyword.Reserved */
    .kt { color: #fabd2f; } /* Keyword.Type */
    .ld { color: #ebdbb2; } /* Literal.Date */
    .m { color: #d3869b; } /* Literal.Number */
    .s { color: #b8bb26; } /* Literal.String */
    .na { color: #b8bb26; font-weight: bold; } /* Name.Attribute */
    .nb { color: #fabd2f; } /* Name.Builtin */
    .nc { color: #ebdbb2; } /* Name.Class */
    .no { color: #d3869b; } /* Name.Constant */
    .nd { color: #ebdbb2; } /* Name.Decorator */
    .ni { color: #fabd2f; } /* Name.Entity */
    .ne { color: #fb4934; } /* Name.Exception */
    .nf { color: #fabd2f; } /* Name.Function */
    .nl { color: #fb4934; } /* Name.Label */
    .nn { color: #ebdbb2; } /* Name.Namespace */
    .nx { color: #ebdbb2; } /* Name.Other */
    .py { color: #ebdbb2; } /* Name.Property */
    .nt { color: #fb4934; } /* Name.Tag */
    .nv { color: #ebdbb2; } /* Name.Variable */
    .ow { color: #fe8019; } /* Operator.Word */
    .w { color: #ebdbb2; } /* Text.Whitespace */
    .mb { color: #d3869b; } /* Literal.Number.Bin */
    .mf { color: #d3869b; } /* Literal.Number.Float */
    .mh { color: #d3869b; } /* Literal.Number.Hex */
    .mi { color: #d3869b; } /* Literal.Number.Integer */
    .mo { color: #d3869b; } /* Literal.Number.Oct */
    .sb { color: #b8bb26; } /* Literal.String.Backtick */
    .sc { color: #b8bb26; } /* Literal.String.Char */
    .sd { color: #b8bb26; } /* Literal.String.Doc */
    .s2 { color: #b8bb26; } /* Literal.String.Double */
    .se { color: #b8bb26; } /* Literal.String.Escape */
    .sh { color: #b8bb26; } /* Literal.String.Heredoc */
    .si { color: #b8bb26; } /* Literal.String.Interpol */
    .sx { color: #b8bb26; } /* Literal.String.Other */
    .sr { color: #b8bb26; } /* Literal.String.Regex */
    .s1 { color: #b8bb26; } /* Literal.String.Single */
    .ss { color: #83a598; } /* Literal.String.Symbol */
    .bp { color: #fabd2f; } /* Name.Builtin.Pseudo */
    .vc { color: #ebdbb2; } /* Name.Variable.Class */
    .vg { color: #ebdbb2; } /* Name.Variable.Global */
    .vi { color: #ebdbb2; } /* Name.Variable.Instance */
    .il { color: #d3869b; } /* Literal.Number.Integer.Long */
}
